/* NLC.css */

.company-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #0056b3;
  color: white;
  text-align: center;
  gap: 15px;
}

.company-logo {
  width: 60px;
  height: 60px;
}

.company-title {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
}

/* Navbar Styling */
.nlc-navbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.nlc-navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.nlc-navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.nlc-navbar ul li a:hover {
  background-color: #555;
}

/* Hero Section */
.nlc-hero {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 20px;
  background-color: #a3f5d3;
}
.hero-text{
  text-align: center;
}